// Primary Colors
$white: #fff;
$charcoal: #222;
$green: #1c522e;
$orange: #f0ce75;
$blue: #206caa;
$yellow: #fcc01d;

$light-sand: #f0ce75;
$dark-sand: #cfa35c;

// Neutral Colors
$light-grey: #f0f0f0;
$dark-grey: #333;
