@import "variables";
@import "mixins";
@import "custom_bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $dark-grey;
  font-size: 18px;
}

header nav a {
  color: $green;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}

footer {
  color: $white;
}

footer a {
  color: $white;
  transition: color 0.3s ease-in-out;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    &:hover {
      opacity: 0.8;
    }
  }
}

header nav a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    margin-right: 1rem;
  }

  @media screen and (min-width: 1200px) {
    &:hover {
      color: $orange;
    }
  }
}

nav .btn {
  padding: 0.5rem 1rem;
  border: 3px solid $green;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color 0.4s ease-in-out, color 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    margin-left: 1rem;
  }

  @media screen and (min-width: 1200px) {
    &:hover {
      color: $white;
      background-color: $green;
    }
  }
}

h2 {
  color: $green;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.page-hero {
  min-height: 600px;
}

.grey-bg {
  background-color: $light-grey;
}

.dark-grey-bg {
  background-color: $dark-grey;
}

.blue-bg {
  background-color: $blue;
}

.orange-bg {
  background-color: $orange;
}

.hero-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-hero {
  background-image: url("../images/home-hero.png");
}

.home-cta-banner {
  background-image: url("../images/home-cta-banner.png");
}

.lodging-hero {
  background-image: url("../images/lodging-hero.png");
}

.cuisine-hero {
  background-image: url("../images/cuisine-hero.png");
}

.entertainment-hero {
  background-image: url("../images/entertainment-hero.png");
}

.locations-hero {
  background-image: url("../images/locations-hero.png");
}

.transportation-hero {
  background-image: url("../images/transportation-hero.png");
}

.contact-hero {
  background-image: url("../images/contact-hero.png");
}

.faq-hero {
  background-image: url("../images/faq-hero.png");
}

.nav-active {
  @include orange-text;
}

.qa-group {
  & p span,
  & p:first-of-type {
    font-weight: bold;
    margin-bottom: 5px;
  }

  & p:first-of-type span {
    color: $green;
  }
}

.grow {
  @media screen and (min-width: 1200px) {
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.015);
    }
  }
}

.top {
  --button-size: 48px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
  width: var(--button-size);
  text-align: center;
  height: var(--button-size);
  line-height: var(--button-size);
  border-radius: 50%;
  -webkit-transition: 0.5s;
  bottom: 20px;
  right: 20px;
  transition: 0.5s;
}

.pointer {
  cursor: pointer;
}

.form-group {
  position: relative;

  & label {
    position: absolute;
    top: 4px;
    left: 14px;
    font-size: 1.2rem;
    color: $dark-grey;
    transition: all 0.3s ease-in-out;
    cursor: text;
  }

  & input,
  textarea {
    padding: 0.5rem;
    border: 1px solid $dark-grey;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

    &:focus {
      border-color: $green;
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      top: -12px;
      left: 10px;
      background-color: $white;
      font-size: 1rem;
      padding-inline: 4px;
      font-weight: bold;
      color: $green;
    }
  }
}
